              <section class="content" style="padding-top: 20px;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">记录列表</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>账户</th>
                                                    <th>试题</th>
                                                    <th>成绩</th>
                                                    <th>时间</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each records}}
                                                <tr>
                                                    <td>{{this.email}}</td>
                                                    <td>{{this.title}}</td>
                                                    <td>{{this.score}}</td>
                                                    <td>{{this.date}}</td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <div class="row ">
                            <div class="col-12 ">
                                <a href="http://localhost:3000/testManage" class="btn btn-secondary ">返回</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>